li{
  float: left;
  width: 100px;
}
iframe{
  width:100%;
  overflow-x:'hidden';
}
table {
  border-collapse: collapse;
}
tr {
  border: solid;
  border-width: 1px 0;
}

td {
  text-align: center;
}

.old{
  color:#b0bec5
}


.available:hover{
  font-weight: bold;
  background-color:#e0e0e0;
  cursor: hand;
}

.time-table:hover{
  cursor: hand;
}
