@charset "utf-8";
/* listd Tab Navigation */
.tab.list{padding:0 0 35px 0}
.tab.list ul{position:relative;margin:0;padding:0;_padding:2px 0 0 0;list-style:none;border-bottom:2px solid #315593;font-family:Tahoma, Sans-serif;*zoom:1}
.tab.list ul:after{content:"";display:block;clear:both}
.tab.list li{float:left;margin-bottom:-1px}
.tab.list li a,
.tab.list li a span{position:relative;cursor:pointer}
.tab.list li a{float:left;text-decoration:none;background:#4CB1E5}
.tab.list li a span{display:inline-block;padding:6px 25px 6px 25px;color:#fff}
.tab.list li ul{width:100%;position:absolute;top:40px;left:0;list-style:none;border:0;margin:0;padding:0;white-space:nowrap;overflow:hidden;*zoom:1}
.tab.list li ul:after{content:"";display:block;clear:both}
.tab.list li li{position:relative;left:-1px;padding:0 10px;border-left:1px solid #ddd;overflow:visible;background:transparent !important}
.tab.list li li a{padding:0;margin:0;font-weight:normal;color:#666}
.tab.list li.active{background-color:#315593;margin-top:-1px}
.tab.list li li a:hover,
.tab.list li li a:active,
.tab.list li li a:focus,
.tab.list li li.active a{font-weight:bold;letter-spacing:-1px;color:#333}
.tab.list li ul{width:100%;position:absolute;top:40px;left:0;list-style:none;border:0;margin:0;padding:0;*zoom:1}
.tab.list li ul:after{content:"";display:block;clear:both}
.tab.list li li{float:none;position:relative;margin:0 0 8px 0;color:#999}
.tab.list li li a{float:none;padding:0;margin:0;border:0 !important;color:#666 !important;font-weight:normal;background:transparent;letter-spacing:normal}
.tab.list li li a:hover,
.tab.list li li a:active,
.tab.list li li a:focus{color:#000 !important;text-decoration:underline}
.tab.list li.active a{border:1px solid #ccc;border-bottom:1px solid #fff;margin-top:-1px;background:transparent;color:#333}
.card-title { border-bottom: 3px solid #a0a0a0;}
.w3-card {margin:10px; color:#616161}
span.star-prototype, span.star-prototype > * {
    height: 16px;
    background: url(http://i.imgur.com/YsyS5y8.png) 0 -16px repeat-x;
    width: 80px;
    display: inline-block;
}

span.star-prototype > * {
    background-position: 0 0;
    max-width:80px;
}
